$colorUnit: 30px;

.colorPicker {
  position: relative;
  padding: 0 10px 20px 0;
  margin: 0 0 -20px 0;
  &:hover .colorPalette {
    visibility: initial;
  }
}

.colorPalette {
  visibility: hidden;
  background-color: $colorWhite;
  border-radius: calc(#{$colorUnit} / 6);
  top: 60%;
  box-shadow: $box-shadow--default;
  display: inline-block;
  left: -10px;
  padding: calc(#{$colorUnit} / 6);
  position: absolute;
  div {
    display: flex;
    justify-content: space-between;
    + div {
      margin-top: calc(#{$colorUnit} / 8);
    }
  }
}

[class*=colorSwatch] {
  display: inline-block;
  width: $colorUnit;
  height: $colorUnit;
  border-radius: $colorUnit;
  &:hover {
    border: 2px solid $colorGray;
  }
  + [class*=colorSwatch] {
    margin-left: calc(#{$colorUnit} / 8);
  }
}

.color1 {
  background-color: #F9F9A2;
}

.color2 {
  background-color: #CCEFFF;
}

.color3 {
  background-color: #FFBFCE;
}

.color4 {
  background-color: #D7FFBF;
}

.color5 {
  background-color: #EDBFFF;
}

.color6 {
  background-color: #FAFAFA;
}