li span[data-name="delete"] {
  font-size: 1.8rem;
  visibility: hidden;
  margin-left: 1em;
}

li:hover span[data-name="delete"] {
  visibility: visible;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}