html {
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 65.5%;
  }
}
@media (min-width : 992px) and (max-width: 1199px) {
  html {
    font-size: 68.5%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 71.5%;
  }
}

h1, h2, h3, h4, h5, h6, p, a, li {
  color: $colorBlack;
  line-height: 125%;
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontHeader;
}
h1 {
  font-size: $font--h1;
}
h2 {
  font-size: $font--h2;
}
h3 {
  font-size: $font--h3;
}
h4 {
  font-size: $font--h4;
}
h5 {
  font-size: $font--h5;
  font-weight: bolder;
}
h6 {
  font-size: $font--h6;
}
p,a,li {
  font-size: $font--p;
  font-family: $fontBody;
}
a {
  &:visited, &:focus, &:active {
    color: $colorBlack;
    outline: none;
    text-decoration: none;
  }
}