@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700');
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

h1, h2, h3, h4, h5, h6, p, a, li {
  color: $color--black;
  line-height: 125%;
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font--header;
}
h1 {
  font-size: $font--h1;
}
h2 {
  font-size: $font--h2;
}
h3 {
  font-size: $font--h3;
}
h4 {
  font-size: $font--h4;
}
h5 {
  font-size: $font--h5;
  font-weight: bolder;
}
h6 {
  font-size: $font--h6;
}
p,a,li {
  font-size: $font--p;
  font-family: $font--body;
}
a {
  &:visited, &:focus, &:active {
    color: $color--black;
    outline: none;
    text-decoration: none;
  }
}