$box-shadow--default: 0 2px 2px rgba(0,0,0,0.06), 0 1px 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.06);
$box-shadow--hover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);

$cardSpacer: 2.5rem;
$cardPadding: 1.75rem;

$colorBlack: #000000;
$colorDarkgray: #333333;
$colorLightgray: #cccccc;
$colorGray: #8C8C8C;
$colorWhite--transparent: rgba(255,255,255,0.95);
$colorWhite: #F5F5F5;
$colorMain: #FFCC5F;
$colorSub: #EED786;
$colorAccent: #EE86A8;

$fontBody: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHeader: 'Patua One', cursive;
$font--p: 1.4rem;                     // BODY TEXT
$font--h1: calc(#{$font--p} * 3.32);  // PAGE BANNER
$font--h2: calc(#{$font--p} * 2.46);  // PAGE MAIN HEADER
$font--h3: calc(#{$font--p} * 1.83);  // PAGE SUB HEADER
$font--h4: calc(#{$font--p} * 1.35);  // ARTICLE MAIN HEADER
$font--h5: calc(#{$font--p} * 1.10);  // ARTICLE SUB HEADER
$font--h6: calc(#{$font--p} * 1.10);  // ARTICLE SUB HEADER

$space__mobile--s: 30px;
$space__mobile--m: 60px;
$space__mobile--l: 90px;
$space__desktop--s: 20px;
$space__desktop--m: 40px;
$space__desktop--l: 60px;

$transitionS: 0.3s;
$transitionM: 0.6s;
$transitionL: 1s;