@charset 'utf-8';
@import '_reset';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_checkbox';
@import '_deleteTaskBtn';
@import '_addTaskBtn';
@import '_colorPicker';
@import '_card';

header {
  margin-bottom: 2em;
}

span[contenteditable="true"]:focus {
  outline: 0;
  &::before, &::after {
    background-color: $color--gray;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin: -1px calc(#{$cardPadding * -1});
    opacity: 0.75;
    position: absolute;
    width: calc(100% + #{$cardPadding} * 2);
  }
  &::before{
    transform: translateY(-0.35em);
    top: 0;
  }
  &::after {
    transform: translateY(0.35em);
    bottom: 0;
  }
}

.app {
  padding: 3vw;
  min-height: 100vh;
}

.btn {
  font-size: 1.4rem;
  color: $color--white;
  background-color: $color--main;
  display: inline-block;
  padding: 0.75em 1.5em;
  box-shadow: $box-shadow--default;
  border-radius: 10rem;
  &:hover {
    cursor: pointer;
    background-color: darken($color--main, 5%);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  .fas {
    margin-right: 0.5em;
  }
}

.sampleBtnWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  > div + div {
    margin-left: 1em;
  }
}

// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}