@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:500|Roboto+Slab|Roboto:400,700');
// font-family: 'Patua One', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;
@import '_reset';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_startPage';
@import '_card';
@import '_colorPicker';

@keyframes sway {
  0% {transform: translate(0, -35%);}
  50% {transform: translate(-8px, -35%);}
  100% {transform: translate(0, -35%);}
}

header {
  margin-bottom: 2em;
}

.app {
  padding: 5vw;
  min-height: 100vh;
  position: relative;
}

.btn {
  font-family: $fontBody;
  color: $colorWhite;
  background-color: $colorMain;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0.75em 1.5em;
  box-shadow: $box-shadow--default;
  border-radius: 10rem;
  &:hover {
    cursor: pointer;
    background-color: darken($colorMain, 5%);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  .fas {
    margin-right: 0.5em;
  }
}

.btnMain {
  bottom: 5vw;
  font-size: 2.4rem;
  height: 46px;
  position: fixed;
  right: 5vw;
  width: 46px;
}

.hidden {
  display: none !important;
}

.noCard {
  animation: 2s ease-in-out sway infinite;
  bottom: 5vw;
  color: $colorGray;
  position: absolute;
  right: calc(5vw + 46px * 1.25);
  p {
    color: inherit;
    font-family: $fontHeader;
    line-height: 1;
    text-align: center;
    font-size: 2.4rem;
  }
  svg {
    height: 2.4rem;
    width: 2.4rem;
    margin-left: 0.25em;
  }
}

.sampleBtnWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  > div + div {
    margin-left: 1em;
  }
}

// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}